 
  .headerTitles {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Lora", serif;
    color: #ee7171;
    
  }
  
  .headerTitleLg {
    position: absolute;
    top: 30%;
    font-size: 100px;
    
  }
  
  

  .headerImg {
    width: 100%;
    height: 450px;
    object-fit: cover;
  }